body {
    background-color: rgb(131, 241, 140);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

header>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10%;
    max-height: 10%;
    padding-bottom: 3vh;

}

.design {
    justify-content: center;
    max-width: 100%;
    max-height: auto;
}

.maintenance {
    justify-content: center;
    max-width: 100%;
    max-height: auto;
}

.landscaping {
    justify-content: center;
    max-width: 100%;
    max-height: auto;
}

footer>div>img {
    max-width: 50%;
    max-height: 10%;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

section {
    display: flex;
    align-items: normal;
}

article {
    flex: 1;
    margin: 5px;
    padding: 10px;

}

footer {
    display: flex;
}

footer div {
    flex: 1;
}